*.bak*
*.bck
*.db
*.egg-info/
*.env
*.env.example
*.md
*.pyc
*.pyd
*.pyo
*.rst
.env
.git
.github
.gitignore
.idea
.pre-commit-config.yaml
__pycache__/
data/
docker-compose.yml
requirements_dev.txt
resources/
rolesbck
src/
tests/
tox.ini
venv/
