aiohttp~=3.8.4
colorama~=0.4.6
discord~=2.2.2
dpytest~=0.6.3
heckbot
pynacl~=1.5.0
pynamodb~=5.4.1
pytest~=7.2.2
pytest-asyncio~=0.20.3
python-dotenv~=1.0.0
PyYAML~=6.0
setuptools==67.6.0
table2ascii~=1.1.1
types-PyYAML==6.0.12.8
